body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f5fff7; /* Very faint green background color */
}

h1 {
  color: #333;
}

input[type="file"] {
  margin-bottom: 10px;
  border: none; /* Remove the default border */
  outline: none; /* Remove the outline on focus */
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th {
  background-color: #a8e6c1; /* Light green background color for table headers */
  color: #333;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #eaf7ed; /* Light green background color for even rows */
}

.green-highlight {
  background-color: #c5edcc; /* Light green background color for highlighted rows */
  color: #333;
}

.export-buttons {
  display: none;
  margin-top: 20px;
}

.file-list-generated .export-buttons {
  display: block;
}
